body{
	background:#f2f2f2;
	font-family:Arial;
}

.container{
	width:800px;
	margin:20px auto;
	background:#fff;
	padding:40px;
}
#footer{
	border-top:1px solid #ddd;
	margin-top:100px;
}
#button{
	padding:5px 10px;
	text-decoration:none;
	background:#333;
	color:#fff;
}
.highlight{
	background:red!important;
}