<h2>Hello World</h2>
<p>Here we go, new content loaded. Click the button to load the content of the index page again.</p>
<a id="button" class="highlight" href="index.htm">Click me to load the <em>index.htm</em> page.</a>