<h2>The Index Page</h2>
<p>This is an example for the HTML5 history API.</p>
<p>By clicking the button below, an ajax call will pull new content. The URL in your browser will be updated while the page is not reloaded.</p>
<a id="button" href="hello.htm">Click me to load the <em>hello.htm</em> page.</a>